@import "../../variables.scss";
@import "../../utils.scss";

.section--gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $small-laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  &__item {
    position: relative;

    &:not(:nth-child(-n + 3)) {
      @media (max-width: $mobile) {
        display: none;
      }
    }

    &--center {
      & .section--gallery__item__label {
        display: grid;
      }

      & .section--gallery__item__img {
        filter: brightness(30%);
      }
    }

    &:hover {
      & .section--gallery__item__label {
        display: grid;
      }

      & .section--gallery__item__img {
        filter: brightness(30%);
      }
    }
    &__img {
      height: 40rem;
      width: 100%;
      object-fit: cover;
    }
    &__label {
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-content: center;
      row-gap: 1.6rem;
      justify-items: center;
      display: none;

      &__heading {
        font-weight: 600;
        font-size: 2.2rem;
      }
      &__desc {
        font-size: 1.8rem;
      }

      &__btn {
        border: 2px solid white;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        font-size: 2rem;
      }
    }
  }
}
