.section--featured {
  background-color: #fafafa;
  &__img-container {
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__img {
    width: 10rem;
  }
}
