@import "../../variables.scss";
@import "../../utils.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  color: #fff;

  &__logo-link {
    font-size: 4.8rem;
    display: block;
    span {
      font-weight: 600;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__list {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    &__link {
      padding: 0.5rem 0.75rem;

      border-radius: 0.3rem;
      font-size: 2.4rem;

      &:active,
      &:hover {
        background-color: var(--brown);
        color: white;
      }

      &:target {
        background-color: var(--brown);
        color: white;
      }
    }
  }
  &__cart-btn {
    fill: var(--brown);
    width: 4rem;
    height: 4rem;
  }
  &__burger-btn {
    fill: var(--brown);
    width: 2rem;
    height: 2rem;
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }
  &__mob-btn {
    margin: 0 1rem;
  }
}

@media (max-width: 1050px) {
  .navbar {
    background-color: white;
    color: var(--blue);
    padding: 1.5rem 1rem;
  }
  .navbar__nav {
    display: none;
  }
  .navbar__mob-btn {
    fill: var(--blue);
  }
}
