@import "../../variables.scss";
@import "../../utils.scss";

.side-hidden {
  display: none;
}

.mob-sidebar {
  position: fixed;
  height: 100%;
  top: 10.1rem;
  right: 0;
  width: 40rem;
  background-color: #12273dc0;
  padding: 10rem 0;

  @media (max-width: $tablet) {
    top: 9.2rem;
  }

  &__nav {
    &__list {
      &__li {
        font-size: 2.4rem;
        color: white;
        display: block;
        padding: 2rem 4rem;
        &:hover {
          background-color: brown;
        }
      }
    }
  }
}
