@import "./variables.scss";
@import "./utils.scss";

.cart-sidebar {
  position: fixed;
  height: 100%;
  top: 10.1rem;
  right: 0;
  width: 40rem;
  background-color: #12273d;
  display: none;
}
