@import "./variables.scss";

.bg-img-container {
  background-image: url("/src/assets/images/BackgroundFixed.png");
  background-size: cover;

  @media (max-width: 1050px) {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
      url("/src/assets/images/BackgroundFixed.png");
  }
}
