@import "./variables.scss";

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 10rem 0;

  @media (max-width: $tablet) {
    padding: 15rem 2rem;
  }

  &--align-right {
    @extend .container;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;

    @media (max-width: $tablet) {
      align-items: center;
    }
  }

  &--flex {
    @extend .container;
    display: flex;
    justify-content: space-between;
  }

  &--center {
    @extend.container;
    display: flex;
    justify-content: center;
  }
}

.heading {
  font-size: 5.6rem;
  margin-top: -6rem;

  @media (max-width: $tablet) {
    font-size: 4.8rem;
    text-align: center;
  }

  &--shadow {
    font-size: 12.8rem;
    color: #ebebeb;
    text-transform: uppercase;

    @media (max-width: $tablet) {
      font-size: 8rem;
      text-align: center;
    }
  }
}
